* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;

}
.Header {
    display: block;
    position: sticky;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    background-color: rgb(0, 0, 128);
    padding: 1%;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(89, 89, 219, 0.4);
    color: white;
    text-align: center;
    font-family: "Monaco", monospace;
}

.Body {
    display: block;
    position: relative;
    width: 100%;
    max-height: 95vh;
    height: 65vh;
}

@keyframes star {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes playful_star {
    0% {
        transform: translateX(1%);
    }
    30% {
        transform: translateX(30%);
    }
    50% {
        transform: translateX(50%);
    }
    80% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(1%);
    }
}

.TopStar {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    left: 0%;
    animation-name: star;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.TopStar1, .TopStar2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    width: 45px;
    height: 45px;
    left: 0%;
    animation-name: star;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.FootStar {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 2px;
    width: 45px;
    height: 45px;
    bottom: 1%;
    left: 0%;
    animation-name: playful_star;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.Y2024 {
    display: block;
    position: relative;
    width: 25%;
    left: 36.5%;
    top: 25%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:rgba(182, 182, 187, 0.5);
    border-radius: 5px;
    text-align: center;
    transition-timing-function: ease;
    font-family: "Monaco", monospace;
}
a:link, a:visited {
    color: rgb(58, 58, 59);
    padding: 14px 25px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.Y2024:hover{
    scale: 1.05;
    border-color: rgba(87, 87, 156, 0.5);
    background-color: rgb(0, 0, 128);
    transition-duration: 1s;
}
a:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}
a .home:hover {
    scale: 1.05;
    opacity: 100%;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}

.Footer {
    display: inline-block;
    position: relative;
    z-index: 20;
    background-color: rgb(0, 0, 128);
    border-width: 5px;
    border-color: rgba(89, 89, 219, 0.4);
    height: 25%;
    width: 100%;
    top: 100%;
    bottom: 0%;
    text-align: center;
    color: white;
    font-family: "Monaco", monospace;
    padding: 10px;
}

.home {
    display: inline-block;
    z-index: 25;
    position: sticky;
    width: 65px;
    height: 65px;
    top: 5%;
    left:2%;
    opacity: 45%;
}

@keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }

.Loader {
    display: flex;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 3, 68);
    transition: all 0.5s;
}
.Loader .LoadingStar .Loading{
    height: 45px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoadingStar {
    margin: 15px;
    animation: rotate 1.5s linear infinite;
}

.Loader .LoadingStar .Loading:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

  
  /* Create two equal columns that sits next to each other */
  .column {
    position: relative;
    z-index: 1;
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    width: 100%;
    height: auto;
    margin-top: 12px;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }